<div class='row'>
  <div class='small-12 columns'>
    <h1> Upcoming Exhibition Nominations </h1>

    <div class='row text-block'>
    <div class='small-10 columns'>
    <p >
      At Gallery 33, our users are responsible for selecting the next exhibition theme!  Please contribute by nominating a gallery theme below, or by voting on a suggestion from another user.  At the end of each month, the nomination with the highest vote count will be implemented as our newest exhibition.
    </p>
    <p>
      Think about themes that could inspire your art practice.  Feel free to suggest subject matter, specific materials, or artistic constraints.
    </p>
    </div>
    </div>

  </div>
  </div>
</div>

<div class='row'>
  <div class='small-12 columns'>
    <%= form_for @theme do |f| %>
    <div class="row collapse">
      <div class="small-6 columns"><%= f.text_field :title %></div>
      <div class="small-2 columns end"><%= f.submit "Nominate a Gallery Theme", :class => 'button prefix tiny' %></div>
    </div>
    <% end %>

    <% @themes.each do |info| %>
      <li>

        <% id_attr = if info[:vote]
          "vote_id=#{info[:vote].id}"
        else
          "theme_id=#{info[:theme].id}"
        end %>

        <button <%= id_attr %> class="vote tiny secondary pickle">
            <%= info[:button_type] %>
        </button>

        <%= info[:theme].title %>

      </li>
    <% end %>

  </div>
</div>
