<% @themes.each do |info| %>
  <li>
    <%= info[:theme].title %>

    <% id_attr = if info[:vote]
      "vote_id=#{info[:vote].id}"
    else
      "theme_id=#{info[:theme].id}"
    end %>

    <button <%= id_attr %> class="vote">
        <%= info[:button_type] %>
    </button>

  </li>
<% end %>

<%= form_for @theme do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

	<%= f.submit "Nominate a Gallery Theme" %>
<% end %>
