<div class='row'>
  <div class='small-12 columns'>
    <h1> Have an idea for a future exhibition? </h1>
    <h3> Share your thoughts by nominating a gallery theme, </h3>
    <h3> or by voting on a suggestion from another user! </h3>
  </div>
</div>

<div class='row'>
  <div class='small-12 columns'>
    <% @themes.each do |info| %>
      <li>
        <%= info[:theme].title %>

        <% id_attr = if info[:vote]
          "vote_id=#{info[:vote].id}"
        else
          "theme_id=#{info[:theme].id}"
        end %>

        <button <%= id_attr %> class="vote tiny secondary pickle">
            <%= info[:button_type] %>
        </button>

      </li>
    <% end %>

    <%= form_for @theme do |f| %>
    <div class="row collapse">
      <div class="small-6 columns"><%= f.text_field :title %></div>
      <div class="small-2 columns end"><%= f.submit "Nominate a Gallery Theme", :class => 'button prefix tiny' %></div>
    </div>
    <% end %>
  </div>
</div>
