<div class="row">
<div class="small-6 columns small-centered">

<h1 class='title'><%= "Submit an Image to #{Gallery.current_gallery.theme} " %></h1>

  <%= form_for @image do |f| %>

    <%= f.label :title %>
    <%= f.text_field :title, class: "text-field" %>

    <%= f.file_field :submission %>
  	<%= f.submit "Install Your Image", class: "submit-form  tiny button" %>
  <% end %>
  
</div>
</div>
