<%= image_tag(@image.submission) %>
<%=  link_to (@image.user.username), user_path(@image.user) %>
<%= @image.title %>

<table style="width:100%">
<% @image.comments.each do |comment| %>
  <tr>
    <td><%= link_to (comment.user.username), user_path(comment.user) %></td>
    <td><%= comment.body %></td>
  </tr>
<% end %>
</table>
