<%= image_tag(@image.submission) %>
<%=  link_to (@image.user.username), user_path(@image.user) %>
<%= @image.title %>

<table style="width:100%">
<% @image.comments.each do |comment| %>
  <tr>
    <td><%= link_to (comment.user.username), user_path(comment.user) %></td>
    <td><%= comment.body %></td>
  </tr>
<% end %>

  <tr><% if current_user %>
    <td><%= current_user.username %></td>
    <td>

      <%= form_for @comment do |f| %>
        <%= f.text_field :body %>
      	<%= f.submit "Install Your Image" %>
      <% end %>

    </td>
  <% end %></tr>
</table>
